In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("/Users/sid/Documents/Personal/Study/Python/Assignment/Dataset/Lesson_10_Feature_Engineering/Dataset/housing_data.csv")

In [7]:
df.head()

,Unnamed: 0,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,SC60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Feb,2008,WD,Normal,208500
1,1,SC20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,May,2007,WD,Normal,181500
2,2,SC60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Sep,2008,WD,Normal,223500
3,3,SC70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Feb,2006,WD,Abnorml,140000
4,4,SC60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Dec,2008,WD,Normal,250000

In [13]:
col_name= df["SalePrice"]
#print(filtered_column)

range_col=df[df["SalePrice"]>180000]
print(range_col)

      Unnamed: 0 MSSubClass MSZoning  LotFrontage  LotArea Street Alley  \
0              0       SC60       RL         65.0     8450   Pave   NaN
1              1       SC20       RL         80.0     9600   Pave   NaN
2              2       SC60       RL         68.0    11250   Pave   NaN
4              4       SC60       RL         84.0    14260   Pave   NaN
6              6       SC20       RL         75.0    10084   Pave   NaN
...          ...        ...      ...          ...      ...    ...   ...
1447        1447       SC60       RL         80.0    10000   Pave   NaN
1451        1451       SC20       RL         78.0     9262   Pave   NaN
1454        1454       SC20       FV         62.0     7500   Pave  Pave
1456        1456       SC20       RL         85.0    13175   Pave   NaN
1457        1457       SC70       RL         66.0     9042   Pave   NaN

     LotShape LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature  \
0         Reg         Lvl    AllPub  ...        0     No     No          No
1         Reg         Lvl    AllPub  ...        0     No     No          No
2         IR1         Lvl    AllPub  ...        0     No     No          No
4         IR1         Lvl    AllPub  ...        0     No     No          No
6         Reg         Lvl    AllPub  ...        0     No     No          No
...       ...         ...       ...  ...      ...    ...    ...         ...
1447      Reg         Lvl    AllPub  ...        0     No     No          No
1451      Reg         Lvl    AllPub  ...        0     No     No          No
1454      Reg         Lvl    AllPub  ...        0     No     No          No
1456      Reg         Lvl    AllPub  ...        0     No  MnPrv          No
1457      Reg         Lvl    AllPub  ...        0     No  GdPrv        Shed

     MiscVal MoSold YrSold  SaleType  SaleCondition  SalePrice
0          0    Feb   2008        WD         Normal     208500
1          0    May   2007        WD         Normal     181500
2          0    Sep   2008        WD         Normal     223500
4          0    Dec   2008        WD         Normal     250000
6          0    Aug   2007        WD         Normal     307000
...      ...    ...    ...       ...            ...        ...
1447       0    Dec   2007        WD         Normal     240000
1451       0    May   2009       New        Partial     287090
1454       0    Oct   2009        WD         Normal     185000
1456       0    Feb   2010        WD         Normal     210000
1457    2500    May   2010        WD         Normal     266500

[564 rows x 81 columns]

In [22]:
df.describe()

,Unnamed: 0,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,YrSold,SalePrice
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,729.500000,57.623288,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.117123,443.639726,46.549315,...,472.980137,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,2007.815753,180921.195890
std,421.610009,34.664304,9981.264932,1.382997,1.112799,30.202904,20.645407,180.731373,456.098091,161.319273,...,213.804841,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,1.328095,79442.502883
min,0.000000,0.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2006.000000,34900.000000
25%,364.750000,42.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,0.000000,...,334.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2007.000000,129975.000000
50%,729.500000,63.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,0.000000,...,480.000000,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2008.000000,163000.000000
75%,1094.250000,79.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,164.250000,712.250000,0.000000,...,576.000000,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2009.000000,214000.000000
max,1459.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,1474.000000,...,1418.000000,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,2010.000000,755000.000000

In [45]:
#Calculate descriptive statistics like mean, median, and standard deviation for numerical columns such as LotArea, YearBuilt, 1stFlrSF, 2ndFlrSF, and SalePrice
num_cols = ["LotArea", "YearBuilt", "1stFlrSF", "2ndFlrSF", "SalePrice"]

stats=df[num_cols].agg(["mean","median","std"])
print(stats)

             LotArea    YearBuilt     1stFlrSF    2ndFlrSF      SalePrice
mean    10516.828082  1971.267808  1162.626712  346.992466  180921.195890
median   9478.500000  1973.000000  1087.000000    0.000000  163000.000000
std      9981.264932    30.202904   386.587738  436.528436   79442.502883

In [56]:
#Determine the correlation between different numerical variables such as LotArea and SalePrice, YearBuilt and SalePrice, 1stFlrSF and SalePrice, and 2ndFlrSF and SalePrice
corrs = df[num_cols].corr()["SalePrice"]  # Remove the extra parentheses and fix the column name case
print(corrs)

LotArea      0.263843
YearBuilt    0.522897
1stFlrSF     0.605852
2ndFlrSF     0.319334
SalePrice    1.000000
Name: SalePrice, dtype: float64

In [60]:
#Count the number of occurrences of each category in categorical variables such as Neighborhood, BldgType, and HouseStyle

neigh_cols=["Neighborhood","BldgType","HouseStyle"]
for col in neigh_cols:
    print(f"\nvalue values for {col:}")
    print(df[col].value_counts())

value values for Neighborhood
Neighborhood
NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
Gilbert     79
NridgHt     77
Sawyer      74
NWAmes      73
SawyerW     59
BrkSide     58
Crawfor     51
Mitchel     49
NoRidge     41
Timber      38
IDOTRR      37
ClearCr     28
StoneBr     25
SWISU       25
MeadowV     17
Blmngtn     17
BrDale      16
Veenker     11
NPkVill      9
Blueste      2
Name: count, dtype: int64

value values for BldgType
BldgType
1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: count, dtype: int64

value values for HouseStyle
HouseStyle
1Story    726
2Story    445
1.5Fin    154
SLvl       65
SFoyer     37
1.5Unf     14
2.5Unf     11
2.5Fin      8
Name: count, dtype: int64

In [61]:
#Convert the YearBuilt and YearRemodAdd columns to datetime format (if not converted)
df["YearBuilt"] = pd.to_datetime(df["YearBuilt"], format="%Y")
df["YearRemodAdd"] = pd.to_datetime(df["YearRemodAdd"], format="%Y")

In [66]:
df["YearBuilt"].head()

0   2003-01-01
1   1976-01-01
2   2001-01-01
3   1915-01-01
4   2000-01-01
Name: YearBuilt, dtype: datetime64[ns]

In [72]:
#Extract useful components from the date like the year, month, or day
df["BuiltYear"]=df["YearBuilt"].dt.year
df["BuiltMonth"]=df["YearBuilt"].dt.month
df["BuiltDay"]=df["YearBuilt"].dt.day
df["RmodYear"]=df["YearRemodAdd"].dt.year
df["RmodMonth"]=df["YearRemodAdd"].dt.month
df["RmodDay"]=df["YearRemodAdd"].dt.day

In [78]:
#Calculate the time difference between the year the house was built and the year it was remodeled
df["DiffYear"]=df["BuiltYear"]-df["RmodYear"]
# To view multiple columns, use a list of column names, not a tuple
df[["DiffYear", "YearBuilt", "YearRemodAdd"]].head()  # Changed tuple to list with double brackets

   DiffYear  YearBuilt YearRemodAdd
0         0 2003-01-01   2003-01-01
1         0 1976-01-01   1976-01-01
2        -1 2001-01-01   2002-01-01
3       -55 1915-01-01   1970-01-01
4         0 2000-01-01   2000-01-01

In [90]:
#Count the number of occurrences of each category in categorical features
cat_cols=["Neighborhood","BldgType","HouseStyle"]
#cat_cols=df.select_dtypes(include="object").columns

#for col in cat_cols:
#    print(f"\ncolumn: {col}")
#    print(df[col].value_counts())
    
value_counts_dict = {}
for col in cat_cols:
    value_counts_dict[col] = df[col].value_counts()

print(value_counts_dict)

{'Neighborhood': Neighborhood
NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
Gilbert     79
NridgHt     77
Sawyer      74
NWAmes      73
SawyerW     59
BrkSide     58
Crawfor     51
Mitchel     49
NoRidge     41
Timber      38
IDOTRR      37
ClearCr     28
StoneBr     25
SWISU       25
MeadowV     17
Blmngtn     17
BrDale      16
Veenker     11
NPkVill      9
Blueste      2
Name: count, dtype: int64, 'BldgType': BldgType
1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: count, dtype: int64, 'HouseStyle': HouseStyle
1Story    726
2Story    445
1.5Fin    154
SLvl       65
SFoyer     37
1.5Unf     14
2.5Unf     11
2.5Fin      8
Name: count, dtype: int64}

In [104]:
#Create dummy variables for categorical variables
cat_cols=["BldgType","HouseStyle"]
df_dummies = pd.get_dummies(df, columns=cat_cols, drop_first=True)
df_dummies.head()

,Unnamed: 0,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,BldgType_Duplex,BldgType_Twnhs,BldgType_TwnhsE,HouseStyle_1.5Unf,HouseStyle_1Story,HouseStyle_2.5Fin,HouseStyle_2.5Unf,HouseStyle_2Story,HouseStyle_SFoyer,HouseStyle_SLvl
0,0,SC60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,False,False,False,False,False,False,False,True,False,False
1,1,SC20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,False,False,False,False,True,False,False,False,False,False
2,2,SC60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,False,False,False,False,False,False,False,True,False,False
3,3,SC70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,False,False,False,False,False,False,False,True,False,False
4,4,SC60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,False,False,False,False,False,False,False,True,False,False

In [101]:
df["Neighborhood"].unique
df["Neighborhood"].value_counts()

<bound method Series.unique of 0       CollgCr
1       Veenker
2       CollgCr
3       Crawfor
4       NoRidge
         ...
1455    Gilbert
1456     NWAmes
1457    Crawfor
1458      NAmes
1459    Edwards
Name: Neighborhood, Length: 1460, dtype: object>

In [6]:
Employee={"Emp_id":[1,2,3,4,5],"Emp_nm":['sid','john','david','cliff','Leo']}