In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    np.arange(16).reshape(4, 4),
    index=[10, 20, 30, 40],
    columns=list("ABCD")
)
print(df)
df.loc[10]
df.loc[10:20, "B":"D"]

     A   B   C   D
10   0   1   2   3
20   4   5   6   7
30   8   9  10  11
40  12  13  14  15

    B  C  D
10  1  2  3
20  5  6  7

In [2]:

# What rows are included in this slice, and why?

df = pd.DataFrame(
    {"A": [10, 20, 30, 40], "B": [1, 2, 3, 4], "C": [5, 6, 7, 8]},
    index=["w", "x", "y", "z"]
)
print(df)
#df.loc(["x"], ["B"])
df.loc["x", "B"]
df.iloc[-3:-1, 1:]

    A  B  C
w  10  1  5
x  20  2  6
y  30  3  7
z  40  4  8

   B  C
x  2  6
y  3  7

In [7]:
# What is the result (shape and values) of:

df = pd.DataFrame(
    {"value": [100, 200, 300, 400]},
    index=[1, 2, 3, 4]
)
df
# What is the difference between these two calls?
a = df.loc[1]
b = df.iloc[1]
print(a)
print(b)

value    100
Name: 1, dtype: int64
value    200
Name: 2, dtype: int64